# Backend API URL (change for production)
VITE_API_URL=https://ticket-booking-mern.onrender.com

# Stripe Publishable Key for frontend
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51SnDX3RwjNw1OUuhW3PmMcL6GCM6RWzlsURPH0ct2TtfsdB7RGlAaVXKVq9oAXJbStN65BmSZqxYJaEE3XKcXhPt004Jkc2zDv
